<div class="container w-3/4 mx-auto">
  <div class="flex gap-4 flex-col">
    <div class="flex gap-4">
      <div class="rounded-lg w-8/12 mt-5 ml-5">
        <div class="w-full bg-white shadow-xl rounded-lg text-gray-900">
          <div class="rounded-t-lg h-20 overflow-hidden">
            <img
              class="object-cover object-top w-full"
              src="https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
              alt="Mountain"
            />
          </div>
          <div
            class="mx-auto w-32 h-32 relative -mt-16 border-4 border-white rounded-full overflow-hidden"
          >
            <img
              class="object-cover object-center h-32"
              src="https://cdn-icons-png.flaticon.com/512/21/21104.png"
              alt="Woman looking front"
            />
          </div>
          <div class="text-center mt-2">
            <h2 class="font-semibold">{{ dataInfo?.name }}</h2>
            <p class="text-gray-500">{{ dataInfo?.position }}</p>
          </div>

          <div class="p-4 border-t mx-8 mt-2">
            <button
              class="w-40 block mx-auto rounded-lg bg-blue-500 hover:shadow-lg font-semibold text-white px-6 py-2"
              (click)="changeModal()"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
      <div
        class="rounded-lg bg-white w-4/12 mt-5 mr-5 border-solid border-[1px] border-black"
      >
        <div class="mb-5 ml-2 mt-2 font-bold">About</div>
        <div class="ml-5 flex items-center mb-2">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzgutRMr_00qNd6Njo-RFdUNiqyp3SVDnGbf0OLW9D5DNkinxHb9ZFzZMcebRR1vLLyBY&usqp=CAU"
            alt=""
            class="w-5 h-5"
          />
          <p class="ml-2">{{ dataInfo?.email }}</p>
        </div>

        <div class="ml-5 flex items-center mb-2">
          <img
            class="mt-5"
            src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-vector-location-icon-png-image_4973827.jpg"
            alt=""
            class="w-5 h-5"
          />
          <p class="ml-2">{{ dataInfo?.address }}</p>
        </div>

        <div class="ml-5 flex items-center mb-2">
          <img
            class="mt-5"
            src="https://png.pngtree.com/png-vector/20190721/ourmid/pngtree-call--icon-in-trendy-style-isolated-background-png-image_1567008.jpg"
            alt=""
            class="w-5 h-5"
          />
          <p class="ml-2">{{ dataInfo?.phone }}</p>
        </div>
      </div>
    </div>
    <div class="flex gap-4">
      <div
        class="w-8/12 bg-white rounded-lg flex flex-wrap justify-center content-start mb-5 ml-5"
      >
        <div
          class="w-2/4 h-[40px] bg-gray-500 text-white font-semibold py-2 px-4 rounded-lg my-2 flex justify-center items-center"
        >
          Project
        </div>
        <app-view-project [data]="{action:false,role:'staff'}"></app-view-project>
        
      </div>
      <div
        class="w-4/12 bg-white rounded-lg flex flex-col justify-center items-center mb-5 mr-5 py-2"
      >
        <div
          class="w-2/4 h-[40px] bg-gray-500 text-white font-semibold py-2 px-4 rounded-lg my-2 flex justify-center items-center"
        >
          Task
        </div>
        <div class="taskView w-full h-auto flex flex-col">
          <div class="taskDetail w-full h-auto my-2" *ngFor="let t of resultProject">
            <p class="px-2 text-[18px]">
              Project name:
              <span class="font-bold">{{ t.project.toLocaleUpperCase() }}</span>
            </p>
            <div
              class="taskProjectDetail w-full flex flex-wrap justify-between border-b-solid border-b-[1px] border-b-black px-2"
              *ngFor="let d of t.detail"
            >
              <span class="w-full">Task name: {{ d.name }}</span>
              <span class="w-full">{{ d.startDate }} - {{ d.endDate }}</span>
              <span>Finish Date: {{ d.finishDate }}</span>
              <span>Status: {{ d.status }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showModal" class="form w-screen h-screen fixed inset-0 flex justify-center items-center">
    <div *ngIf="showModal"(click)="changeModal()"class="fixed inset-0 z-40 bg-black bg-opacity-50"></div>
    <div [ngClass]="modalScale" class="w-[20vw] h-[50vh] z-50 flex flex-wrap items-center justify-center">
      <div class="bg-white p-4 rounded shadow-lg w-full h-full">
        <form>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="Name"
            >
              Name
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="name"
              type="text"
              placeholder="Enter Name"
            />
          </div>

          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="Phone number"
            >
              Phone number
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="phone"
              type="text"
              placeholder="Enter phone number"
            />
          </div>

          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="Email"
            >
              Email
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="text"
              placeholder="Enter email"
            />
          </div>

          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="Address"
            >
              Address
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              type="text"
              placeholder="Enter address"
            />
          </div>

          <div class="flex justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
            >
              Update
            </button>
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
              (click)="changeModal()"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

