<div class="container w-4/5 mx-auto">
  <div>
    <!-- Nút để mở form modal -->
<button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="openModal()">Add project</button>

<!-- Form modal -->
<div [ngClass]="modalScale" *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center animate-bounce">
  <div class="bg-white p-4 rounded shadow-lg w-96">
    <form>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="projectName">
          Project Name
        </label>
        <input #projectName class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="projectName" id="projectName" type="text" placeholder="Project Name">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="dateOfStart">
          Date of Start
        </label>
        <input #dateOfStart class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="dateOfStart" id="dateOfStart" type="date" placeholder="">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="teamSize">
          Team size
        </label>
        <input #teamSize class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="teamSize" id="teamSize" type="number" placeholder=" Team size">
      </div>
      <div class="flex items-center justify-between">
        <button (click)="onSubmit({projectName:projectName.value, dateOfStart:dateOfStart.value,teamSize:teamSize.value})" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Submit
        </button>
        <button class="text-red-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="closeModal()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Lớp phủ mờ -->
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black bg-opacity-50"></div>

  </div>



  <table class="table-fixed">
    <thead>
      <tr>
        <th class="w-1/5 px-4 py-2">ProjectId</th>
        <th class="w-1/5 px-4 py-2">Project Name</th>
        <th class="w-1/5 px-4 py-2">Date of Start</th>
        <th class="w-1/5 px-4 py-2">Team size</th>
        <th class="w-1/5 px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">Intro to CSS</td>
        <td class="border px-4 py-2">Adam</td>
        <td class="border px-4 py-2">858</td>
        <td class="border px-4 py-2">858</td>
        <td class="border px-4 py-2">858</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="border px-4 py-2">A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on
          Design</td>
        <td class="border px-4 py-2">Adam</td>
        <td class="border px-4 py-2">112</td>
        <td class="border px-4 py-2">112</td>
        <td class="border px-4 py-2">112</td>
      </tr>
      <tr>
        <td class="border px-4 py-2">Intro to JavaScript</td>
        <td class="border px-4 py-2">Chris</td>
        <td class="border px-4 py-2">1,280</td>
        <td class="border px-4 py-2">1,280</td>
        <td class="border px-4 py-2">1,280</td>
      </tr>
    </tbody>
  </table>
</div>